@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: #056839;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* don't use hidden on y */
}
.bellota {
  font-family: "Bellota Text", sans-serif;
  font-optical-sizing: auto;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}